#ros2 colcon
build/
install/
log/

build.vscode/
bin/
*.iml
*.log
.idea/dictionaries
cmake-build-*
.idea/workspace.xml

.history

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

src/crab_description
src/urdf_tutorial