<launch>

  <arg name="robot_model"                       default="dr_qp"/>
  <arg name="robot_name"                        default="$(var robot_model)"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="load_gazebo_configs"               default="false"/>
  <arg name="use_joint_pub"                     default="true"/>
  <arg name="use_joint_pub_gui"                 default="false"/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="rviz_frame"                        default="$(var robot_name)/base_bottom_link"/>
  <arg name="rvizconfig"                        default="$(find-pkg-share drqp_description)/rviz/drqp_description.rviz" />
  <arg name="model"                             default="$(find-pkg-share drqp_description)/urdf/$(var robot_model).urdf.xacro
                                                         robot_name:=$(var robot_name)
                                                         external_urdf_loc:=$(var external_urdf_loc)
                                                         load_gazebo_configs:=$(var load_gazebo_configs)"/>

  

  <node if="$(var use_joint_pub)"
    exec="joint_state_publisher"
    pkg="joint_state_publisher" /> 

  <node if="$(var use_joint_pub_gui)"
    exec="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    />
  <node
    exec="robot_state_publisher"
    pkg="robot_state_publisher">
    <param name="robot_description" command="$(find-pkg-prefix xacro)/xacro $(var model)" />
  </node>

  <node if="$(var use_rviz)"
    exec="rviz"
    pkg="rviz"
    args="-f $(var rviz_frame) -d $(var rvizconfig)"
    />

</launch>
