name: Build docs
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
  merge_group:
    types:
      - checks_requested

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docs:
    name: docs
    timeout-minutes: 10
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # all history for all branches and tags.

      - name: Install ffmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg --no-install-recommends

      - name: Filter
        id: filter
        uses: dorny/paths-filter@v3.0.2
        with:
          filters: |
            docs:
              - docs/**
              - .github/workflows/docs.yml

      - name: Setup Python venv
        if: ${{ steps.filter.outputs.docs == 'true' }}
        uses: ./.github/actions/setup-python-venv

        # Multiple builds are not supported, so run them one after another. See https://github.com/sphinx-doc/sphinx/issues/10096
      - name: sphinx - check redirects diff
        if: ${{ steps.filter.outputs.docs == 'true' }}
        shell: bash
        run: |
          .venv/bin/sphinx-build -nW --keep-going -b rediraffecheckdiff docs/source/ docs/_build/html

      - name: sphinx - build html
        if: ${{ steps.filter.outputs.docs == 'true' }}
        shell: bash
        run: |
          .venv/bin/sphinx-build -nW --keep-going -b html docs/source/ docs/_build/html

      - name: Upload docs build error logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: docs-build-logs
          path: docs/_build/html/reports/notebooks
          retention-days: 7
          if-no-files-found: ignore

  merge-all:
    name: Docs build finished
    needs: [docs]
    runs-on: ${{ vars.AMD_ONLY == '1' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    permissions: {}
    if: ${{ success() || cancelled() || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure') }}
    steps:
      - name: All jobs succeeded!
        if: ${{ success() }}
        run: |
          exit 0
      - name: Some jobs have failed!
        if: ${{ contains(needs.*.result, 'failure') }}
        run: |
          exit 1
      - name: Some jobs have been cancelled!
        if: ${{ cancelled() || contains(needs.*.result, 'cancelled') }}
        run: |
          exit 1
